$main-bg: #081028;
$sacandry-bg: #0b1739;
$soft-bg: #384051;
$dark-bg: #181f24;
$semi-dark-bg: #060b1e;
$main-color: white;
$soft-color: #dddd;
$dark-color: #121523;
$text-main-color:#6254ff;
$main-radius: 8px;
