@use "../../styles/variables" as *;
.table {
  width: 100%;
  margin: 20px auto;
  .dataGrid {
    .MuiDataGrid-toolbar {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .action-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 100%;

    .icon-button {
      width: 36px;
      height: 36px;
      padding: 6px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }

      &:hover {
        background: #f0f0f0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        img {
          transform: scale(1.1);
        }
      }

      &.view {
        &:hover {
          background-color: $dark-bg;
        }
      }

      &.delete {
        &:hover {
          background-color: #ef9a9a;
        }
      }
    }
  }
}
